<div class="print-container" id="print-data">
  <div class="field name-field">{{ fullName() }}</div>

  <div class="afiliado-container">
    <span class="digit" *ngFor="let d of afiliadoDigits()">{{ d }}</span>
  </div>

  <div class="field domicilio-field">{{ patient().domicilio }}</div>
  <div class="field localidad-field">{{ patient().localidad }}</div>
  <div class="field tel-field">{{ patient().telefono }}</div>

  <div class="field dni-field">{{ patient().dni }}</div>

  <div class="fecha-nac-container">
    <span class="day">{{ formattedBirthDate().d }}</span>
    <span class="month">{{ formattedBirthDate().m }}</span>
    <span class="year">{{ formattedBirthDate().a }}</span>
  </div>

  <div class="field edad-field">{{ age() }}</div>
  <div class="field obra-social-field" *ngIf="patient().obraSocial !== 'Particular'">{{ patient().obraSocial }}</div>
</div>
